retarget-iq/n8n-chat-workflow.json
{
  "name": "RetargetIQ Chat Support Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retargetiq-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "retargetiq-chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "// RetargetIQ Knowledge Base V2 - Embedded for search\nconst knowledgeBase = {\n  \"categories\": [\n    {\n      \"name\": \"Product Features & Capabilities\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-001\",\n          \"question\": \"Are there limits on the number of audiences or records I can pull?\",\n          \"answer\": \"No. Retarget IQ offers unlimited audiences and unlimited records. You can pull hundreds of millions of records and create up to 10,000 audiences. The only limitation is a million records per single query to ensure your targeting remains specific and effective.\",\n          \"keywords\": [\"unlimited\", \"audiences\", \"records\", \"limits\", \"queries\"]\n        },\n        {\n          \"id\": \"faq-002\",\n          \"question\": \"What is the Super Pixel and how does it work?\",\n          \"answer\": \"The Super Pixel is a website tracking code that identifies anonymous visitors to your website without requiring them to fill out forms. It captures between 40-70% of website visitors depending on traffic source and cookie permissions. Each license includes 5 Super Pixels, and you can add more for $10 each.\",\n          \"keywords\": [\"super pixel\", \"pixel\", \"website tracking\", \"visitor identification\", \"anonymous visitors\"]\n        },\n        {\n          \"id\": \"faq-003\",\n          \"question\": \"What data does Retarget IQ capture on website visitors?\",\n          \"answer\": \"Retarget IQ captures comprehensive visitor data including: full name, personal and business emails, phone numbers, mailing address, age, gender, marital status, income, net worth, LinkedIn profile, company associations, vehicle information, property ownership, device type, user path through the site, and behavioral intent signals across the internet.\",\n          \"keywords\": [\"data fields\", \"visitor data\", \"contact information\", \"website identification\", \"demographics\"]\n        },\n        {\n          \"id\": \"faq-004\",\n          \"question\": \"Can I schedule audiences to refresh automatically?\",\n          \"answer\": \"Yes. You can schedule audiences to refresh as frequently as needed - daily, weekly, or even hourly. You can also schedule automatic pushes to your ad accounts so fresh intent data is sent to Meta, Google Ads, or other platforms automatically without manual intervention.\",\n          \"keywords\": [\"scheduling\", \"automation\", \"refresh\", \"audience updates\", \"recurring\"]\n        },\n        {\n          \"id\": \"faq-005\",\n          \"question\": \"What is the difference between B2B and B2C intent data?\",\n          \"answer\": \"B2B intent tracks purchasing behavior on behalf of a business - for example, someone searching for CRM software or business services. B2C intent tracks consumer-level purchasing behavior - for example, someone searching for auto repair, roofing services, or bourbon. Both use the same underlying data quality, just different intent categories.\",\n          \"keywords\": [\"B2B\", \"B2C\", \"intent types\", \"business intent\", \"consumer intent\"]\n        },\n        {\n          \"id\": \"faq-006\",\n          \"question\": \"How far back can I pull intent data?\",\n          \"answer\": \"Retarget IQ allows you to pull intent data from the last 24 hours up to 2 weeks. The platform caps at 2 weeks because buying cycles for most intent signals complete within that timeframe. Pulling data beyond 2 weeks would include stale intent from people who have already made their purchase.\",\n          \"keywords\": [\"intent window\", \"timeframe\", \"date range\", \"buying cycle\", \"fresh data\"]\n        },\n        {\n          \"id\": \"faq-007\",\n          \"question\": \"What do the Low, Medium, and High intent ratings mean?\",\n          \"answer\": \"Intent ratings reflect consistent behavior patterns, not single searches. Low intent is a B grade - the person has shown some interest. Medium intent is an A - strong buying signals. High intent is an A+ - the person has shown repeated, sustained interest and is very likely to purchase soon. High intent signals are ideal for immediate outreach like door knocking or direct mail.\",\n          \"keywords\": [\"intent score\", \"intent rating\", \"buying signals\", \"lead quality\", \"behavior patterns\"]\n        },\n        {\n          \"id\": \"faq-008\",\n          \"question\": \"Can I export data to CSV or use it in other tools?\",\n          \"answer\": \"Yes. You can download audiences as CSV files with all available data fields. The platform also offers direct integrations with Meta, Google Ads, HubSpot, GoHighLevel, Salesforce, Klaviyo, Mailchimp, Pipedrive, Slack, and other platforms. You can also access everything via API.\",\n          \"keywords\": [\"export\", \"CSV\", \"download\", \"integrations\", \"data access\"]\n        },\n        {\n          \"id\": \"faq-009\",\n          \"question\": \"Does Retarget IQ offer direct mail capabilities?\",\n          \"answer\": \"Yes. You can send direct mail postcards (4x6 or 6x9) for approximately $0.90 per piece including postage. You can upload custom designs and trigger mail based on website visitor behavior - for example, automatically sending mail to someone who visited a Contact Us page but didn't fill out the form.\",\n          \"keywords\": [\"direct mail\", \"postcards\", \"mailers\", \"physical mail\", \"automated mail\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Data & Intent Signals\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-010\",\n          \"question\": \"Where does Retarget IQ source its data?\",\n          \"answer\": \"Retarget IQ uses a proprietary data provider that supplies data to Fortune 100 and Fortune 500 companies. The platform is one of only three globally licensed to use this enterprise-grade data source. Additionally, Retarget IQ uses waterfall enrichment from over 200 data lakes to fill any gaps, ensuring the most complete records possible.\",\n          \"keywords\": [\"data source\", \"data quality\", \"Fortune 500\", \"enterprise data\", \"data provider\"]\n        },\n        {\n          \"id\": \"faq-011\",\n          \"question\": \"How does Retarget IQ's data compare to competitors like Audience Lab?\",\n          \"answer\": \"Unlike competitors that use 555 data (the same source as ZoomInfo, Apollo, and Seamless), Retarget IQ uses an exclusive enterprise data provider unavailable to most platforms. This results in better data accuracy, match rates over 90% for Meta ads, and more complete behavioral intent signals. Multiple customers report switching from Audience Lab due to better data quality and results.\",\n          \"keywords\": [\"Audience Lab\", \"competitors\", \"data comparison\", \"555 data\", \"ZoomInfo\"]\n        },\n        {\n          \"id\": \"faq-012\",\n          \"question\": \"How does intent data collection work?\",\n          \"answer\": \"Retarget IQ tracks over 80% of the US adult population and monitors over 10 billion searches and signals daily. Data is collected through partnerships with websites, tracking pixels, surveys, and cookie-based tracking across the internet. The platform uses over 200 data lakes and matches behavioral patterns to individuals in the identity graph.\",\n          \"keywords\": [\"data collection\", \"tracking\", \"behavioral data\", \"identity graph\", \"signals\"]\n        },\n        {\n          \"id\": \"faq-013\",\n          \"question\": \"Are phone numbers accurate for cold calling?\",\n          \"answer\": \"Phone numbers have varying accuracy rates. All data platforms, including Retarget IQ, source phone numbers from multiple providers, and the verification is on a spectrum. The recommendation is to run phone numbers through the Do Not Call list and use a cheap verification service before calling. Emails typically have higher accuracy and better response rates than cold calling.\",\n          \"keywords\": [\"phone numbers\", \"accuracy\", \"verification\", \"cold calling\", \"skip trace\"]\n        },\n        {\n          \"id\": \"faq-014\",\n          \"question\": \"How often is intent data updated?\",\n          \"answer\": \"Intent data is continuously updated based on real-time behavioral signals. When you pull a query, you receive everyone who currently shows intent for that topic within your specified timeframe. If someone makes a purchase, their intent signal typically disappears from the next pull. You can schedule queries to run as frequently as daily to capture new intent signals.\",\n          \"keywords\": [\"data freshness\", \"updates\", \"real-time\", \"refresh rate\", \"current data\"]\n        },\n        {\n          \"id\": \"faq-015\",\n          \"question\": \"Can I target by specific keywords or only pre-defined topics?\",\n          \"answer\": \"V1 requires selecting from a list of approximately 50,000 pre-defined intent topics. V2 (launching February 15th) will include free-form text entry, allowing you to search for any custom keyword or phrase. Current V1 users will automatically receive V2 features at their existing pricing.\",\n          \"keywords\": [\"keywords\", \"topics\", \"custom searches\", \"V2\", \"free-form\"]\n        },\n        {\n          \"id\": \"faq-016\",\n          \"question\": \"Does Retarget IQ include LinkedIn profiles?\",\n          \"answer\": \"Yes, LinkedIn profiles are included when available. For B2B intent searches, LinkedIn data is more prevalent because the platform confirms employment context. For B2C searches, LinkedIn availability varies person-to-person. All available LinkedIn URLs are included in CSV exports and API responses.\",\n          \"keywords\": [\"LinkedIn\", \"social profiles\", \"B2B data\", \"employment\", \"professional profiles\"]\n        },\n        {\n          \"id\": \"faq-017\",\n          \"question\": \"What is the match rate for Meta/Facebook ads?\",\n          \"answer\": \"Retarget IQ achieves over 90% match rates with Meta ads using SHA256 email hashing. This is significantly higher than industry average. The platform pulls multiple email addresses per person and identifies which is their primary active email, resulting in superior match rates and ad performance.\",\n          \"keywords\": [\"Meta ads\", \"Facebook\", \"match rate\", \"SHA256\", \"email matching\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Pricing & Plans\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-018\",\n          \"question\": \"What does the standard license cost?\",\n          \"answer\": \"The quarterly plan is $497 per month ($1,491 per quarter). The annual plan is $407 per month ($4,884 per year). Both include unlimited audiences, unlimited records, and 10 Super Pixels. Pricing is locked in when you sign up - even when V2 launches with higher prices, existing customers keep their current rate.\",\n          \"keywords\": [\"pricing\", \"cost\", \"standard plan\", \"quarterly\", \"annual\"]\n        },\n        {\n          \"id\": \"faq-019\",\n          \"question\": \"How much does API access cost?\",\n          \"answer\": \"API access costs $297 per month on month-to-month, $249 per month on quarterly billing, or $200 per month on annual billing. The API has no rate limits except 3,000 calls per second. You can pull unlimited data via API and integrate with your existing systems.\",\n          \"keywords\": [\"API\", \"API pricing\", \"API cost\", \"rate limits\"]\n        },\n        {\n          \"id\": \"faq-020\",\n          \"question\": \"What is White Label pricing?\",\n          \"answer\": \"White Label is $3,000 per month and includes 10 client licenses (sub-accounts). Each additional license after the first 10 is $100 per month. All licenses include full platform access, API, unlimited data, and Super Pixels. You can rebrand the entire platform with your logo and custom domain.\",\n          \"keywords\": [\"white label\", \"reseller\", \"agency\", \"white label pricing\", \"sub-accounts\"]\n        },\n        {\n          \"id\": \"faq-021\",\n          \"question\": \"Can I upgrade from a standard plan to White Label later?\",\n          \"answer\": \"Yes. If you start with a standard plan and later upgrade to White Label, Retarget IQ will credit your previous payments toward the White Label plan. You won't pay twice for the same period, and you'll maintain your locked-in pricing from when you first signed up.\",\n          \"keywords\": [\"upgrade\", \"plan change\", \"credit\", \"migration\", \"switch plans\"]\n        },\n        {\n          \"id\": \"faq-022\",\n          \"question\": \"Will prices increase when V2 launches?\",\n          \"answer\": \"Yes. The standard quarterly plan is expected to increase from $497/month to approximately $750-$999/month when V2 launches February 15th. However, anyone who signs up before the price increase will be grandfathered in at their current rate permanently, regardless of future price changes.\",\n          \"keywords\": [\"price increase\", \"V2 pricing\", \"grandfathered\", \"price lock\", \"future pricing\"]\n        },\n        {\n          \"id\": \"faq-023\",\n          \"question\": \"Can I add API access after I sign up?\",\n          \"answer\": \"Yes. If you start without API access, you can add it anytime. Retarget IQ will send a prorated payment link for the remaining months in your billing cycle, then your subscription will automatically renew at the new price including API access.\",\n          \"keywords\": [\"add API\", \"API later\", \"prorated\", \"add features\"]\n        },\n        {\n          \"id\": \"faq-024\",\n          \"question\": \"Are there any additional costs or hidden fees?\",\n          \"answer\": \"No. The subscription price includes unlimited audiences, unlimited records, and Super Pixels. The only additional costs are: optional direct mail (approximately $0.90 per piece), extra Super Pixels beyond the included amount ($10 each), and API access if you choose to add it. White Label additional licenses are $100 each after the first 10.\",\n          \"keywords\": [\"hidden fees\", \"additional costs\", \"extra charges\", \"transparency\"]\n        },\n        {\n          \"id\": \"faq-025\",\n          \"question\": \"Do you offer payment plans or financing?\",\n          \"answer\": \"Yes. Retarget IQ offers Klarna financing. With Klarna, you can pay in installments while getting the quarterly discount. For example, the quarterly plan saves you $300 compared to month-to-month, and Klarna fees are approximately $40/month, so you still save about $260 while spreading payments out.\",\n          \"keywords\": [\"Klarna\", \"payment plan\", \"financing\", \"installments\", \"flexible payment\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"White Label & Agency\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-026\",\n          \"question\": \"What is included in White Label?\",\n          \"answer\": \"White Label includes: your custom branding and logo throughout the platform, custom domain (app.yourdomain.com), 10 client sub-accounts, full API access for all accounts, admin panel to manage all clients, ability to set custom limits per client, DNS setup assistance, and dedicated Slack support channel with engineers.\",\n          \"keywords\": [\"white label features\", \"branding\", \"custom domain\", \"admin panel\"]\n        },\n        {\n          \"id\": \"faq-027\",\n          \"question\": \"Can clients see it's Retarget IQ or will it show my brand?\",\n          \"answer\": \"Clients will only see your brand. The login page, dashboard, emails, and all platform elements display your logo and branding. The URL will be your custom domain. There are no Retarget IQ references visible to your clients. The pixel tracking code can also be white-labeled to use your domain.\",\n          \"keywords\": [\"white label branding\", \"client facing\", \"custom branding\", \"hidden branding\"]\n        },\n        {\n          \"id\": \"faq-028\",\n          \"question\": \"How do I set pricing for my clients?\",\n          \"answer\": \"You set your own pricing completely. Retarget IQ doesn't bill your clients - you do through your own payment processor. In the admin panel, you set usage limits (number of websites, audiences, resolutions) per client. You can charge per seat, per record, flat monthly fees, or any pricing model you choose.\",\n          \"keywords\": [\"client pricing\", \"agency pricing\", \"billing\", \"pricing structure\"]\n        },\n        {\n          \"id\": \"faq-029\",\n          \"question\": \"Can I manage clients' accounts or do they need direct access?\",\n          \"answer\": \"You can do either. You can manage everything yourself and just deliver reports to clients, or you can give clients login access to their own isolated dashboard. You can also use the 'impersonate' feature to log in as any client to help them or make changes on their behalf.\",\n          \"keywords\": [\"client management\", \"access control\", \"impersonate\", \"account management\"]\n        },\n        {\n          \"id\": \"faq-030\",\n          \"question\": \"Can I integrate White Label billing with Stripe or other payment processors?\",\n          \"answer\": \"Yes. White Label includes API access that allows integration with Stripe or other payment processors. You can automate billing, track usage, and charge clients automatically through your own payment system. The API provides webhooks and billing events for integration.\",\n          \"keywords\": [\"Stripe integration\", \"payment processing\", \"automated billing\", \"API billing\"]\n        },\n        {\n          \"id\": \"faq-031\",\n          \"question\": \"What support do White Label partners receive?\",\n          \"answer\": \"White Label partners get a dedicated Slack channel with direct access to the engineering team. Support requests are addressed within 24 hours. Engineers can log into client accounts to troubleshoot issues. Partners also receive DNS setup assistance, onboarding training, and access to pre-built tutorial videos branded with their logo.\",\n          \"keywords\": [\"white label support\", \"dedicated support\", \"engineering support\", \"Slack channel\"]\n        },\n        {\n          \"id\": \"faq-032\",\n          \"question\": \"How long does White Label setup take?\",\n          \"answer\": \"After payment, the basic White Label account is provisioned within 24 hours. Custom branding (logo replacement) typically takes 1-2 business days. DNS setup for your custom domain depends on your DNS provider but usually completes within 24-48 hours after you add the required DNS records. Full setup is typically complete within 3-5 business days.\",\n          \"keywords\": [\"setup time\", \"onboarding\", \"white label setup\", \"DNS setup\", \"provisioning\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Integrations & API\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-033\",\n          \"question\": \"What integrations does Retarget IQ offer?\",\n          \"answer\": \"Retarget IQ integrates with Meta/Facebook Ads, Google Ads, HubSpot, GoHighLevel, Salesforce, Klaviyo, Mailchimp, Pipedrive, Slack, Beehive, Fresh Sales, and Zoho CRM. You can push audiences directly to ad platforms or sync contacts with your CRM. More integrations including LinkedIn Ads and TikTok Ads are planned for V2.\",\n          \"keywords\": [\"integrations\", \"CRM\", \"ad platforms\", \"connected apps\", \"third-party\"]\n        },\n        {\n          \"id\": \"faq-034\",\n          \"question\": \"How do I connect Meta/Facebook Ads?\",\n          \"answer\": \"First, create a custom audience in Meta Business Manager with a name. In Retarget IQ, go to the audience you want to sync, select 'Send to Meta', enter the audience name, ad account ID, and audience ID from Meta. You can schedule this to update automatically (daily, weekly, etc.) so new intent data flows to Meta continuously.\",\n          \"keywords\": [\"Meta integration\", \"Facebook Ads\", \"audience sync\", \"Meta setup\"]\n        },\n        {\n          \"id\": \"faq-035\",\n          \"question\": \"What does the API allow me to do?\",\n          \"answer\": \"The API provides programmatic access to all platform features: pull audiences, access visitor identification data, create queries, schedule refreshes, retrieve specific data fields, push to integrations, and manage multiple instances. The API documentation is AI-optimized so you can paste it into Claude or ChatGPT to generate integration code.\",\n          \"keywords\": [\"API features\", \"API capabilities\", \"programmatic access\", \"automation\"]\n        },\n        {\n          \"id\": \"faq-036\",\n          \"question\": \"Are there API rate limits?\",\n          \"answer\": \"The only limit is 3,000 API calls per second. There are no limits on total daily calls, records pulled, or data accessed. The 3,000/second limit exists only to prevent system overload. If you need higher rates, contact the team to discuss custom infrastructure.\",\n          \"keywords\": [\"API limits\", \"rate limits\", \"API calls\", \"throttling\"]\n        },\n        {\n          \"id\": \"faq-037\",\n          \"question\": \"Can I push multiple audiences to the same ad account?\",\n          \"answer\": \"Yes. In the current version, you need to set up separate website instances for each audience-to-ad-account connection. V2 will support multiple audiences pushing to a single ad account connection. The workaround is to create website variations (e.g., yourdomain.com/audience1, yourdomain.com/audience2) to manage multiple audience syncs.\",\n          \"keywords\": [\"multiple audiences\", \"ad account syncs\", \"multiple connections\", \"audience management\"]\n        },\n        {\n          \"id\": \"faq-038\",\n          \"question\": \"Can I enrich my existing CRM contacts with Retarget IQ data?\",\n          \"answer\": \"Yes. You can connect Retarget IQ to HubSpot, Salesforce, and other CRMs with create/update functionality. Upload your existing contacts, and Retarget IQ will enrich them with additional data fields like intent signals, demographic information, and behavioral data. You can also use the API for custom enrichment workflows.\",\n          \"keywords\": [\"data enrichment\", \"CRM enrichment\", \"update contacts\", \"append data\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Pixel & Tracking\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-039\",\n          \"question\": \"How do I install the Super Pixel?\",\n          \"answer\": \"After logging in, go to the Websites section, add your domain, and the platform generates a pixel code. Copy the code and paste it in the header section of your website (before the closing </head> tag). For platforms like WordPress, Shopify, or Wix, you can use the header injection area. The pixel usually starts capturing data within a few hours.\",\n          \"keywords\": [\"pixel installation\", \"install pixel\", \"tracking code\", \"implementation\"]\n        },\n        {\n          \"id\": \"faq-040\",\n          \"question\": \"Why isn't my pixel firing or collecting data?\",\n          \"answer\": \"Common issues: 1) The pixel wasn't added to all pages (check it's in the global header), 2) DNS validation needed (contact support to revalidate your domain), 3) The website has strict cookie policies blocking third-party tracking, 4) Not enough time has passed (allow 24-48 hours for initial data collection). Contact support with your domain for troubleshooting.\",\n          \"keywords\": [\"pixel troubleshooting\", \"pixel not working\", \"no data\", \"pixel issues\"]\n        },\n        {\n          \"id\": \"faq-041\",\n          \"question\": \"What percentage of website visitors can be identified?\",\n          \"answer\": \"Identification rates range from 40-70% depending on traffic source and cookie permissions. SEO/organic traffic typically sees 40-50% identification. Paid traffic from ads often sees 50-60%. The variation depends on cookie consent rates and whether visitors have opted into tracking on other websites in the data network.\",\n          \"keywords\": [\"identification rate\", \"match rate\", \"visitor percentage\", \"tracking success\"]\n        },\n        {\n          \"id\": \"faq-042\",\n          \"question\": \"Can I filter identified visitors by location, demographics, or behavior?\",\n          \"answer\": \"Yes. In the Website Identification section, you can apply filters by city, state, zip code, age range, gender, income level, company, and more. You can also see which pages they visited, where they came from (traffic source), and what their buying intent signals are beyond your website.\",\n          \"keywords\": [\"visitor filters\", \"demographic filters\", \"visitor segmentation\", \"advanced filtering\"]\n        },\n        {\n          \"id\": \"faq-043\",\n          \"question\": \"Can I track visitors on a competitor's website?\",\n          \"answer\": \"This capability is being released in V2. The feature allows you to identify visitors to competitor websites without needing to install your pixel on their site. This works through cookie permissions and cross-site tracking technology. Pricing for competitor pixels is still being finalized, but high-traffic sites will have different pricing than low-traffic sites.\",\n          \"keywords\": [\"competitor tracking\", \"competitive intelligence\", \"spy pixel\", \"competitor visitors\"]\n        },\n        {\n          \"id\": \"faq-044\",\n          \"question\": \"What happens to pixel data if I cancel my subscription?\",\n          \"answer\": \"Historical data from your pixel remains accessible as long as you have an active subscription. If you cancel, you lose access to the data. It's recommended to export visitor data regularly as CSV files. There is no data retention after cancellation, so export any needed data before canceling.\",\n          \"keywords\": [\"data retention\", \"cancellation\", \"pixel data\", \"export data\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Audience Building & Targeting\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-045\",\n          \"question\": \"Should I add multiple intent topics to one audience?\",\n          \"answer\": \"No. It's better to create separate audiences for each intent topic and test them individually. Adding multiple topics doesn't increase intent scores - it broadens your audience and may dilute targeting. If you want people interested in multiple topics, create separate audiences and find the overlap using CSV exports or API.\",\n          \"keywords\": [\"multiple topics\", \"audience strategy\", \"topic overlap\", \"targeting best practices\"]\n        },\n        {\n          \"id\": \"faq-046\",\n          \"question\": \"How do I find the right intent topics for my business?\",\n          \"answer\": \"Retarget IQ has approximately 50,000 intent topics. The recommended approach is to download the topic list and paste it into ChatGPT with your business description. Ask ChatGPT to identify the 5-10 topics most relevant to your target audience. You can also search by keyword in the platform to find related topics.\",\n          \"keywords\": [\"find topics\", \"topic selection\", \"keyword research\", \"topic discovery\"]\n        },\n        {\n          \"id\": \"faq-047\",\n          \"question\": \"What is Advanced Search and when should I use it?\",\n          \"answer\": \"Advanced Search is for pulling static B2B lists without intent data - think of it as LinkedIn Boolean search. Use it when you want to find all CEOs at medical companies with 10+ employees in Texas, or all decision-makers at construction companies with business emails. No intent signals, just firmographic and demographic targeting.\",\n          \"keywords\": [\"Advanced Search\", \"static lists\", \"Boolean search\", \"B2B lists\", \"no intent\"]\n        },\n        {\n          \"id\": \"faq-048\",\n          \"question\": \"How long does it take to build an audience?\",\n          \"answer\": \"Most audiences process in 15-20 minutes. Small audiences (under 10,000 records) may complete in 5-10 minutes. Very large audiences pulling hundreds of thousands of records may take 20-30 minutes. The platform sends a notification when processing is complete, and you can continue working on other tasks while it processes.\",\n          \"keywords\": [\"processing time\", \"audience speed\", \"build time\", \"query time\"]\n        },\n        {\n          \"id\": \"faq-049\",\n          \"question\": \"Can I save and reuse audience queries?\",\n          \"answer\": \"Yes. After building an audience, save it as a query. Saved queries can be refreshed on-demand or scheduled to run automatically (daily, weekly, etc.). This is ideal for recurring campaigns - set up the query once, schedule it to refresh daily, and it automatically generates fresh leads matching your criteria.\",\n          \"keywords\": [\"saved queries\", \"reusable audiences\", \"query templates\", \"recurring queries\"]\n        }\n      ]\n    },\n    {\n      \"name\": \"Technical Support & Troubleshooting\",\n      \"faqs\": [\n        {\n          \"id\": \"faq-050\",\n          \"question\": \"What support is included and how do I get help?\",\n          \"answer\": \"All customers receive access to a dedicated Slack support channel with response times under 24 hours. You can send screen recordings, questions, or technical issues. The team includes engineers who can log into your account to troubleshoot. White Label customers get priority support with direct engineer access.\",\n          \"keywords\": [\"support\", \"help\", \"customer service\", \"technical support\", \"Slack\"]\n        },\n        {\n          \"id\": \"faq-051\",\n          \"question\": \"How quickly can I get started after signing up?\",\n          \"answer\": \"After payment, most accounts are provisioned within a few hours to 24 hours maximum. You'll receive login credentials via email. For White Label accounts, basic provisioning is within 24 hours, with full branding and DNS setup completed within 3-5 business days.\",\n          \"keywords\": [\"onboarding\", \"account setup\", \"getting started\", \"activation time\"]\n        },\n        {\n          \"id\": \"faq-052\",\n          \"question\": \"What happens when V2 launches on February 15th?\",\n          \"answer\": \"V2 is a major platform upgrade with improved UI, free-form keyword search, more integrations, expanded global data (Canada, Latin America, South America), and additional features. All existing customers automatically get V2 access at their current locked-in pricing. No action is required - the upgrade happens seamlessly.\",\n          \"keywords\": [\"V2\", \"platform update\", \"new features\", \"upgrade\", \"February 15\"]\n        }\n      ]\n    }\n  ]\n};\n\n// Get the user's message from webhook\nconst userMessage = $input.first().json.body.messages;\nconst latestMessage = $input.first().json.body.latestMessage || \n  (userMessage && userMessage.length > 0 ? userMessage[userMessage.length - 1].content : '');\n\nconst query = (typeof latestMessage === 'string' ? latestMessage : '').toLowerCase();\n\n// Search function - find relevant FAQs based on keyword matching\nfunction searchKnowledgeBase(query, kb) {\n  const queryWords = query.toLowerCase().split(/\\s+/);\n  const results = [];\n  \n  for (const category of kb.categories) {\n    for (const faq of category.faqs) {\n      let score = 0;\n      \n      // Check keyword matches\n      for (const keyword of faq.keywords) {\n        const keywordLower = keyword.toLowerCase();\n        if (query.includes(keywordLower)) {\n          score += 3; // Exact keyword match\n        } else {\n          for (const word of queryWords) {\n            if (keywordLower.includes(word) || word.includes(keywordLower)) {\n              score += 1; // Partial match\n            }\n          }\n        }\n      }\n      \n      // Check question matches\n      const questionLower = faq.question.toLowerCase();\n      for (const word of queryWords) {\n        if (word.length > 3 && questionLower.includes(word)) {\n          score += 2;\n        }\n      }\n      \n      if (score > 0) {\n        results.push({\n          ...faq,\n          category: category.name,\n          score: score\n        });\n      }\n    }\n  }\n  \n  // Sort by score and return top 5\n  return results\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 5);\n}\n\nconst matchedFAQs = searchKnowledgeBase(query, knowledgeBase);\n\n// Build context for AI\nlet context = '';\nif (matchedFAQs.length > 0) {\n  context = matchedFAQs.map((faq, i) => \n    `[FAQ ${i + 1} - ${faq.category}]\\nQ: ${faq.question}\\nA: ${faq.answer}`\n  ).join('\\n\\n');\n} else {\n  context = 'No specific FAQ matches found. Use general knowledge about Retarget IQ to help.';\n}\n\nreturn {\n  json: {\n    userMessage: latestMessage,\n    context: context,\n    matchedFAQs: matchedFAQs,\n    matchCount: matchedFAQs.length\n  }\n};"
      },
      "id": "search-knowledge-base",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.7,
          "maxTokensToSample": 1024
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful support assistant for Retarget IQ, a B2B and B2C intent data and website visitor identification platform.\n\n## Your Personality & Voice\n- Be casual but professional - like talking to a helpful colleague\n- Use contractions (\"you'll\", \"we're\", \"that's\")\n- Be direct and concise - get to the point\n- It's okay to say \"Ya\" instead of \"Yes\" occasionally\n- Show enthusiasm when appropriate (\"Great question!\")\n- Never use overly formal language like \"Dear Sir/Madam\" or \"Warm regards\"\n\n## Key Information About Retarget IQ\n- V2 launches February 15th with major upgrades\n- Data comes from Fortune 100/500 enterprise provider\n- Unlimited audiences and records on all plans\n- Super Pixel identifies 40-70% of website visitors\n- Match rates over 90% for Meta ads\n- Quarterly plan: $497/month\n- API add-on: $297/month\n- White Label: $3,000/month (includes 10 licenses)\n- All pricing is grandfathered - locked in permanently\n\n## Response Guidelines\n1. If the knowledge base has a relevant answer, use it but rephrase naturally\n2. If you don't have specific information, say so honestly and offer to connect them with the team\n3. Keep responses concise - 2-4 short paragraphs max\n4. For technical issues (pixel not working, etc.), offer to escalate to the dev team\n5. Always be helpful and solution-oriented\n6. If they ask about pricing, mention the grandfathering benefit\n7. If they ask about features coming in V2, mention the Feb 15th launch date\n\n## What NOT to Do\n- Don't make up specific numbers or features not in the knowledge base\n- Don't promise things you're not sure about\n- Don't use corporate jargon or marketing speak\n- Don't write long essays - keep it conversational\n\n## Escalation\nIf the question requires human attention (complaints, custom pricing, technical emergencies), let them know you'll connect them with the team."
            },
            {
              "role": "user",
              "content": "=Here is relevant context from the Retarget IQ knowledge base:\n\n{{ $json.context }}\n\n---\n\nUser question: {{ $json.userMessage }}\n\nPlease provide a helpful, conversational response based on the knowledge base context above. If the context doesn't fully answer their question, acknowledge that and offer to help them connect with the team."
            }
          ]
        }
      },
      "id": "claude-ai-response",
      "name": "Generate Response (Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [690, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.text || $json.message?.content || 'Sorry, I could not generate a response. Please try again.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Search Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge Base": {
      "main": [
        [
          {
            "node": "Generate Response (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response (Claude)": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
